apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: node
  labels:
    app: geth
spec:
  serviceName: "geth-headless"
  replicas: 1 
  selector:
    matchLabels:
      app: geth
  template:
    metadata:
      labels:
        app: geth
    spec:
      containers:
     
      - name: geth
        image: ethereum/client-go:v1.13.5
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh", "-c"]
       
        args:
          - |
            # Ghi password ra file tạm
            echo "password123" > /tmp/password.txt && \
            
            # Chạy Geth với địa chỉ cố định
            geth --datadir /data \
            --networkid 12345 \
            --http --http.addr "0.0.0.0" --http.api "eth,net,web3,personal,admin,miner" \
            --mine --miner.etherbase 0x58Ab7B1D2ef5D060f1Df9AF811acd8F126C14F6E \
            --unlock 0x58Ab7B1D2ef5D060f1Df9AF811acd8F126C14F6E \
            --password /tmp/password.txt \
            --allow-insecure-unlock \
            --nodiscover --nat extip:127.0.0.1
        ports:
        - containerPort: 8545
        - containerPort: 30303
        volumeMounts:
        - name: data
          mountPath: /data

      initContainers:
      # Nhiệm vụ 1: Khởi tạo Genesis
      - name: init-genesis
        image: ethereum/client-go:v1.13.5
        command: ["/bin/sh", "-c"]
        args:
          - |
            if [ ! -d /data/geth ]; then
              echo "Khoi tao Genesis..."
              geth init --datadir /data /config/genesis.json
            else
              echo "Du lieu da ton tai, bo qua init."
            fi
        volumeMounts:
        - name: data
          mountPath: /data
        - name: genesis-config
          mountPath: /config

      # Nhiệm vụ 2: Import Private Key 
      - name: import-account
        image: ethereum/client-go:v1.13.5
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "Importing Private Key..."
            echo "password123" > /tmp/password.txt
            # Xóa keystore cũ nếu có để tránh trùng
            rm -rf /data/keystore
            geth account import --datadir /data --password /tmp/password.txt /etc/secret/key
        volumeMounts:
        - name: data
          mountPath: /data
        - name: account-secret
          mountPath: /etc/secret
          readOnly: true

      # --- CẤU HÌNH VOLUME (Ổ CỨNG & FILE) ---
      volumes:
      - name: genesis-config
        configMap:
          name: geth-genesis
      - name: account-secret
        secret:
          secretName: geth-account-key

  # --- PVC TEMPLATE ---
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi