apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: node
  labels:
    app: geth
spec:
  serviceName: "geth-headless"
  replicas: 3
  selector:
    matchLabels:
      app: geth
  template:
    metadata:
      labels:
        app: geth
    spec:
      containers:
      # --- MAIN CONTAINER ---
      - name: geth
        image: ethereum/client-go:v1.13.5
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh", "-c"]
        args:
          - |
            # 1. Lấy IP động của Pod hiện tại
            POD_IP=$(hostname -i)
            echo "Starting Geth at IP: $POD_IP"

            # 2. Tạo password file
            echo "password123" > /tmp/password.txt && \
            
            # 3. Chạy Geth với biến môi trường $POD_IP
            geth --datadir /data \
            --networkid 12345 \
            --http --http.addr "0.0.0.0" --http.api "eth,net,web3,personal,admin,miner" \
            --mine --miner.etherbase 0x58Ab7B1D2ef5D060f1Df9AF811acd8F126C14F6E \
            --unlock 0x58Ab7B1D2ef5D060f1Df9AF811acd8F126C14F6E \
            --password /tmp/password.txt \
            --allow-insecure-unlock \
            --nodiscover \
            --nat extip:$POD_IP 
        
        ports:
        - containerPort: 8545
        - containerPort: 30303
        volumeMounts:
        - name: data
          mountPath: /data

      # --- INIT CONTAINERS ---
      initContainers:
      - name: init-genesis
        image: ethereum/client-go:v1.13.5
        command: ["/bin/sh", "-c"]
        args:
          - |
            if [ ! -d /data/geth ]; then
              echo "Initializing Genesis..."
              geth init --datadir /data /config/genesis.json
            fi
        volumeMounts:
        - name: data
          mountPath: /data
        - name: genesis-config
          mountPath: /config

      - name: import-account
        image: ethereum/client-go:v1.13.5
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "Importing Private Key..."
            echo "password123" > /tmp/password.txt
            rm -rf /data/keystore
            geth account import --datadir /data --password /tmp/password.txt /etc/secret/key
        volumeMounts:
        - name: data
          mountPath: /data
        - name: account-secret
          mountPath: /etc/secret
          readOnly: true

      volumes:
      - name: genesis-config
        configMap:
          name: geth-genesis
      - name: account-secret
        secret:
          secretName: geth-account-key

  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi